[user]
	name = kutzoa-kk
	email = dealus0609@gmail.com
[core]
	excludesfile = ~/.config/git/ignore
	editor = vim -c \"set fenc=utf-8\"
[pull]
	rebase = false
[init]
	defaultBranch = main
[include]
	path = ~/.gitconfig_shared
[commit]
	template = ~/.config/git/commit_template
