/*
/.**

!/.zshrc
!/.zprofile
!/.vimrc
!/.gitignore_global
!/.gitconfig
!/.config/
!/.config/**
!/Brewfile

## etc
!/.bin/
!/.bin/**

!/README.md
!/LICENCE
!.gitignore
!.gitkeep
!/install.sh
!/install_brew.sh
!/.github/
!/.github/**

